:root>* {
    --white: #fff;
    --black: #000;
 
    /* Footer */
    --md-footer-bg-color: var(--white);
    --md-footer-bg-color--dark: var(--white);
    --md-footer-fg-color: var(--black);
    --md-footer-fg-color--light: var(--black);
    --md-footer-fg-color--lighter: var(--black);
}

figure img {
    border: 5px solid #e6e9f9;
    border-radius: 5px;
    box-shadow: 0 0 35px rgb(140 152 164 / 13%);
}

.figure p {
    margin: 0;
}

.md-typeset figcaption {
    margin: 1em auto 1em;
}

.md-typeset {
    font-size: 16px;
}

.md-typeset h1 {
    font-weight: 700;
}

.md-typeset h2 {
    font-weight: 500;
}

p {
    margin: 10px 0;
}


